<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Commerce Website</title>
    <script src="https://kit.fontawesome.com/58324da162.js" crossorigin="anonymous"></script>    
    <link rel="stylesheet" href="/style1.css">
</head>
<body>
    <%- include("../partials/nav.ejs") %>


    <section id="page-header" class="about-header">
        <h2>#KnowUs</h2>
        <p>Have a glance about our shopping website!</p>
    </section>

    <section id="about-head" class="section-p1">
        <img src="/about/a6.jpg"/>
        <div class="about-details">
            <h2>Who we are?</h2>
            <p>An ecommerce website is your digital storefront on the internet. It facilitates the transaction between a buyer and seller. It is the virtual space where you showcase products, and online customers make selections. Your website acts as the product shelves, sales staff, and cash register of your online business channel.

                Businesses might create a branded store experience on a store like Amazon, build their own commerce site on a dedicated domain, or do it all for a multi-channel approach.</p>
            <abbr title="">Begin attracting customers with promotions</abbr>
            <br><br>
            <marquee bgcolor="lightgrey" loop="-1" scrollamount="5" width="100%">Create a stunning aehfagsig arsbgawhkrt asboashg dgkdughdfgndogf g slghasg hsgohasgslhg lskdh</marquee>
        </div>
    </section>

    <section id="about-app" class="section-p1">
        <h1>Download our <a href="#">App</a></h1>
        <div class="video">
            <video autoplay muted loop src="/about/1.mp4"/>
        </div>
    </section>

    <section id="feature" class="section-p1">
        <div class="fe-box">
            <img src="/features/f1.png"/>
            <h6>Free Shipping</h6>
        </div>
        <div class="fe-box">
            <img src="/features/f2.png"/>
            <h6>Online Order</h6>
        </div>
        <div class="fe-box">
            <img src="/features/f3.png"/>
            <h6>Save Money</h6>
        </div>
        <div class="fe-box">
            <img src="/features/f4.png"/>
            <h6>Promotions</h6>
        </div>
        <div class="fe-box">
            <img src="/features/f5.png"/>
            <h6>Happy Sell</h6>
        </div>
        <div class="fe-box">
            <img src="/features/f6.png"/>
            <h6>24/7 Support</h6>
        </div>
    </section>

    <section id="news-letter" class="section-p1 section-m1">
        <div class="newstext">
            <h4>Sign Up For Newletters</h4>
            <p>Get E-mail updates about our latest shop and <span>special offers</span></p>
        </div>
        <div class="form">
            <input type="text" placeholder="Your email address"/>
            <button class="normal">Sign Up</button>
        </div>
    </section>
    <%- include("../partials/footer.ejs") %>



    <script src="script.js"></script>
</body>
</html>