<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Commerce Website</title>
    <script src="https://kit.fontawesome.com/58324da162.js" crossorigin="anonymous"></script>    
    <link rel="stylesheet" href="style1.css">
</head>
<body>
    
    <%- include("../partials/nav.ejs") %>


    <section id="page-header" class="about-header">
        <h2>#Lets Talk</h2>
        <p>LEAVE A MESSAGE , We love to hear from you!</p>
    </section>
    
    <section id="contact-details" class="section-p1">
        <div class="contact-info">
           <span>GET IN TOUCH</span>
           <h1>Visit one of our agency location or contact us today</h1>
           <h3>Head office</h3>
           <div class="contact-options">
            
                <li>
                    <i class="fa-regular fa-map"></i>                    
                    <p>25, Sri prasanna Avenue Anaikkadu , Hyderabad </p>
                </li>
                <li>
                    <i class="fa-regular fa-envelope"></i>
                    <p>Cara@gmail.com</p>
                </li>
                <li>
                    <i class="fa-solid fa-phone"></i>
                    <p>Helo@gmail.com</p>
                </li>
                <li>
                    <i class="fa-regular fa-clock"></i>
                    <p>Monday to Saturday : 9:00am to 20pm</p>
                </li>
        
           </div> 
        </div>
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d121832.29960384466!2d78.39000122873078!3d17.3993364265351!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb9918de35dd01%3A0x2b75efae64572a10!2sVijetha%20Super%20Market%20Himayathnagar!5e0!3m2!1sen!2sin!4v1692715644988!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>

    <section id="form-details">
        <form actions="">
            <span>LEAVE A MESSAGE</span>
            <h1>We love to hear from you</h1>
            <input type="text" placeholder="Your name">
            <input type="text" placeholder="E-mail">
            <input type="text" placeholder="Subject">
            <textarea name="" id="" cols="30" rows="10" placeholder="Your Message"></textarea>
            <button class="normal">Submit</button>
        </form> 
        <div class="people">
            <div>
                <img src="people/3.png">
                <p><span>Subiksha</span> Senior Marketing Manager <br>Phone : +91 9361866588<br>
                Email : subi@gmail.com</p>
            </div>
            <div>
                <img src="people/2.png">
                <p><span>Ram</span> Senior Marketing Manager <br>Phone : +91 9361866588<br>
                Email : ram@gmail.com</p>
            </div>
            <div>
                <img src="people/1.png">
                <p><span>sedhu</span> Senior Marketing Manager <br>Phone : +91 9361866588<br>
                Email : sedhu@gmail.com</p>
            </div>
        </div>
    </section>

    <section id="news-letter" class="section-p1 section-m1">
        <div class="newstext">
            <h4>Sign Up For Newletters</h4>
            <p>Get E-mail updates about our latest shop and <span>special offers</span></p>
        </div>
        <div class="form">
            <input type="text" placeholder="Your email address"/>
            <button class="normal">Sign Up</button>
        </div>
    </section>

    <%- include("../partials/footer.ejs") %>


    <script src="script.js"></script>
</body>
</html>