<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GlassMorphism</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
    <form action="/login" method="post" >
        <h1>Login</h1>
        <label>Username</label>
        <input class="text" type="text" name="name">
        <label>Password</label>
        <input class="text" type="password" name="password">
        <input class="submit" type="submit">
        <a>Forget Password</a>
        <a href="/signup">Make a new Account !</a>
    </form>
</body>
</html> 